*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.bg-overlay {
background:rgb(105 33 33 / 25%);
}
.bg-hero{
    background-image: url("../../../../public/Images/student-class-looking-course.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-community {
    background: #1f011f;
    color: #ffffffff;
}
.ceo-image{
    width: 350px;
    height: 350px;
}
@media screen and (max-width:768px) {
    .ceo-image{
    width: 200px;
    height: 200px;
    }
    .founder{
        left: 150px !important;
        top: 150px !important;
    }
}
.form-container{
    width: 320px!important;
    transform: translateY(-30%);
    display: grid;
    justify-content: center;
    height: fit-content;
}
.founder{
    width: max-content;
    top: 290px;
    left: 320px;
}
.founder >p{
    padding: 0px;
    margin: 0px;
    color: blueviolet;
    font-weight: bold;
    animation: animatefounder 2s linear 0s infinite forwards;
    animation-fill-mode: both;
}
@keyframes animatefounder {
    0%{
        font-weight: bold;
        color: blueviolet;
    }    
    100%{
        font-weight: bolder;
        color: brown;
    }
}

.home{
    background: rgba(21, 20, 20, 0.6);
}

.w-30{
    width: 30% !important;
}
.about-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.about-card::before {
    content: "Go To The Page";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(108, 13, 232, 0) 0%, rgba(108, 13, 232, 1) 100%); */
    background-color: blueviolet;
    transition: top 0.5s;
    pointer-events: none;
    color: white;
    text-align: center;
    padding-top: 50%;
    visibility: hidden;
}
.about-card:hover::before {
    top: 0;
    color: white !important;
    visibility: visible;
}
.about-card:hover img{
    opacity: 0;
}
.about-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


/* MEDIA QUERIES */
@media screen and (max-width:769px) {
    .about-card{
        width: 100% !important;
    }
    .form-container{
        transform: translateY(0%);
        max-width: 100%;
    }
    .w-30{
        width: 100% !important;
    }
}